@model MyBlog.ViewModels.PostsViewModel

@addTagHelper *, MyBlog

@{
    ViewData["Title"] = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Personal Blog</h2>

@if (User.IsInRole("SuperAdmin"))
{
    <p><a asp-action="Create">Create New Post</a></p>
}

<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Категория:</label>
        &nbsp;&nbsp;
        <select name="categoryId" asp-items="Model.Categories" class="form-control"></select>
        &nbsp;&nbsp;&nbsp;
        <input type="submit" value="Выбрать" class="btn btn-success" />
    </div>
</form>

@foreach (var item in Model.Posts)
{
    <div class="card card_margin">
        <div class="card-header">
            @Html.DisplayFor(modelItem => item.PublishDate)
            @Html.DisplayFor(modelItem => item.PublishTime)
        </div>
        <div class="card-body">
            <img src="@Html.DisplayFor(modelItem => item.ImagePath)" alt="..." class="post" />
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
            <h6 class="card-title">Категория: @Html.DisplayFor(modelItem => item.Category.Name)</h6>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
        </div>
        <div class="card-footer text-muted">
            |
            <a asp-action="Index" asp-controller="Comments" asp-route-id="@item.Id">Comments</a>
            |
            @if (User.IsInRole("SuperAdmin"))
            {
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <span>|</span>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                <span>|</span>
            }
        </div>
    </div>
}

<br />

<!-- Pagination Controls -->
<page-link page-model="Model.Paginator" page-action="Index"></page-link>
<!-- /Pagination Controls -->

